

<div class="tab-pane tframe" id="tab5">
	<div id="eid_cart_wraper">
		<table id="eid_cart_table" data-bind="VU_Cart_Detail_Line_Extended">
			<thead>
				<tr>
					<th style="width: 10%" data-bind="Product_Name">
						<label>@Html.Localize("Product_Name")</label>
					</th>
					<th style="width: 35%" data-bind="Product_Desc">
						<label>@Html.Localize("Product_Desc")</label>
					</th>
					<th style="width: 15%" data-bind="Product_Sale_Price">
						<label>@Html.Localize("Product_Sale_Price")</label>
					</th>
					<th style="width: 15%" data-bind="Product_Sale_Quantity">
						<label>@Html.Localize("Product_Unit_Quantity")</label>
					</th>
					<th style="width: 15%" data-bind="Cart_Row_Total_Price">
						<label>@Html.Localize("Cart_Row_Total_Price")</label>
					</th>
				</tr>
			</thead>
		</table>
	</div>
</div>
