@using Microsoft.AspNetCore.Hosting
@using Microsoft.AspNetCore.Mvc.ViewEngines
@inject IWebHostEnvironment Environment
@inject ICompositeViewEngine Engine
<!DOCTYPE html>
<html lang="en" dir="@Html.GetViewDirection()">

<head>
	@Html.Partial("_Global_Section")
</head>

<body>
	<header>
		<nav class="navbar navbar-expand-sm navbar-light navbar-toggleable-sm bg-white border-bottom box-shadow mb-3">
			<div class="container">
				<a class="navbar-brand" href="~/">CoreBase</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
					@{
						var result = Engine.FindView(ViewContext, "_LoginPartial", isMainPage: false);
					}
					@if (result.Success)
					{
						await Html.RenderPartialAsync("_LoginPartial");
					}
					else
					{
						throw new InvalidOperationException("The default Identity UI layout requires a partial view '_LoginPartial' " +
							"usually located at '/Pages/_LoginPartial' or at '/Views/Shared/_LoginPartial' to work. Based on your configuration " +
							$"we have looked at it in the following locations: {System.Environment.NewLine}{string.Join(System.Environment.NewLine, result.SearchedLocations)}.");
					}
				</div>
			</div>
		</nav>
	</header>

	<div class="body-content">
		@RenderBody()
	</div>
	<div id="footer">
		@Html.Partial("_Footer")
	</div>
	@RenderSection("Scripts", required: false)
</body>
</html>
