@page
@model RegisterModel

<script>
	$(document).ready(function () {
		const rolesSelect = document.getElementById('role_select');
		const data = @Html.Raw(ViewData["Roles"]);
		let option;
		for (let i = 0; i < data.length; i++) {
			option = document.createElement('option');
			option.text = data[i].id;
			option.value = data[i].text;
			rolesSelect.add(option);
		}
	});
</script>

@{
	ViewData["Title"] = "Register";
}

<div class="row" style="overflow:hidden;">
	<div class="col-md-4">
		<form asp-route-returnUrl="@Model.ReturnUrl" method="post">
			<h4>@Html.ViewTitle()</h4>
			<hr />
			<div asp-validation-summary="All" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Input.Username"></label>
				<div class="input-group">
					<input asp-for="Input.Username" class="form-control" />
					@*<i class="fa fa-user icon-align-opposite"></i>*@
				</div>
				<span asp-validation-for="Input.Username" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Input.Email"></label>
				<input asp-for="Input.Email" class="form-control" />
				<span asp-validation-for="Input.Email" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Input.Password"></label>
				<input asp-for="Input.Password" class="form-control" />
				<span asp-validation-for="Input.Password" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Input.ConfirmPassword"></label>
				<input asp-for="Input.ConfirmPassword" class="form-control" />
				<span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="Input.UserRoles"></label>
				<div class="input-group">
					<select id="role_select" asp-for="Input.UserRoles" class="form-control" placeholder="@Html.Localize("User_Role")">
					</select>
				</div>
				<span asp-validation-for="Input.UserRoles" class="text-danger"></span>
				<button style="margin-top:2vh;" type="submit" class="btn btn-primary">@Html.Localize("Register")</button>
			</div>
		</form>
	</div>
	<div class="col-md-6 col-md-offset-2">
		<section>
			<h4>Use another service to register.</h4>
			<hr />
			@{
				if ((Model.ExternalLogins?.Count ?? 0) == 0)
				{
					<div>
						<p>
							There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
							for details on setting up this ASP.NET application to support logging in via external services.
						</p>
					</div>
				}
				else
				{
					<form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
						<div>
							<p>
								@foreach (var provider in Model.ExternalLogins)
								{
									<button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
								}
							</p>
						</div>
					</form>
				}
			}
		</section>
	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
