
@using System.Linq

@model uResponsiveRow

<div class="row form-group col-12">
	<label class="col-4 col-form-label label-align-opposite">@Html.Localize(Model.promptName)</label>
	<div class="col-8">
		<div class="input-group">
			<a id="@Model.elementID" data-bind="@Model.boundColumn"
			   class="form-control" href='waze://?q=@Model.boundColumn'>@Html.Localize(Model.promptName)</a>
			<span class="input-group-addon"><i class="@Model.iconName icon-align-opposite" aria-hidden="true"></i></span>
		</div>
	</div>
</div>
