
@model uResponsiveRow

<script>
	function buttonRowClicked(inputElement) {
		if (!inputElement) return;

		if (typeof onButtonRowClicked !== 'undefined' && typeof onButtonRowClicked === 'function') {
			onButtonRowClicked(inputElement);
		}
	}
</script>

<div class="row form-group col-12">
	<div class="col-4">
		<div class="input-group">
			<input type="button" class="btn btn-primary btn-block r_input"
				   value="@Html.Localize(@Model.promptName)" click="buttonRowClicked(@Model.boundColumn)"/>
			<span class="input-group-addon">
				<i class="@Model.iconName icon-align-opposite" style="color: white" aria-hidden="true"></i>
			</span>
		</div>
	</div>
	<div class="col-8">
		<div class="input-group">
			<input id="@Model.elementID" data-bind="@Model.boundColumn"
				   type=@Model.inputType class="form-control r_input" 
				   placeholder="@Html.Localize(@Model.promptName)"
				   @Model.attributes>
			<span class="input-group-addon"><i class="@Model.iconName icon-align-opposite" aria-hidden="true"></i></span>
		</div>
	</div>
</div>
