

@model uResponsiveRow

<div class="row form-group col-12">
	<label class="col-4 col-form-label align-opposite">@Html.Localize(Model.promptName)</label>
	<div class="col-8">
		<div class="input-group">
			<input id="@Model.elementID" data-bind="@Model.boundColumn" 
				   type=@Model.inputType class="form-control r_input"
				   placeholder="@Html.Localize(Model.promptName)"
				   @Model.attributes>
			<span class="input-group-addon"><i class="@Model.iconName icon-align-opposite" aria-hidden="true"></i></span>
		</div>
	</div>
</div>
